* {
  font-family: sans-serif;
  box-sizing: border-box;
  line-height: 1.2;
}

body {
  margin: 0;
  color: #fff;
  background: #000;
}

html,
body,
#root,
#app {
  height: 100%;
}

#app {
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  border-bottom: 1px solid #fff;
  background: #333;
  align-items: center;
}

header .title {
  display: flex;
  align-items: center;
}

header svg {
  margin-right: 16px;
}

header svg * {
  fill: #fff;
}

header h1 {
  margin: 0 0 4px 0;
}

header p {
  margin: 0;
  color: #ccc;
}

.content {
  display: flex;
  flex-grow: 1;
}

.status {
  position: absolute;
  top: 0;
  right: 0;
}

.loading,
.pooling,
.uploading {
  padding: 8px;
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
}

.box {
  margin-top: 16px;
  padding: 8px;
  border: 2px solid #111;
}

.box.info {
  background: #222;
  border: 2px solid #111;
  color: #666;
}

.box.success {
  background: lightgreen;
  border-color: darkgreen;
  color: darkgreen;
}

.box.error {
  background: lightcoral;
  border-color: darkred;
  color: darkred;
}

h2 {
  margin: 0 0 16px 0;
}

div#results,
div#upload,
div#labels {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 16px;
  flex: 1;
}

div#upload .file img {
  margin-top: 16px;
  max-width: 100%;
}

div#results {
  border-left: 1px solid #333;
  border-right: 1px solid #333;
}

.scrollable {
  flex: 1 0 0;
  overflow-y: scroll;
  min-height: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul.results li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2px;
  padding: 8px 0 8px 8px;
  color: #ccc;
  white-space: nowrap;
  cursor: default;
}

ul.results li:first-child {
  font-size: x-large;
}

ul.results li:nth-child(odd) {
  background: #333;
}

ul.results li:nth-child(even) {
  background: #222;
}

ul.results li.selected {
  color: #fff;
  background: green;
}

ul.results li svg {
  width: 32px;
  height: 32px;
}

ul.results li.selected svg {
  fill: #fff !important;
}

ul.results li.selected.error {
  background: red;
}

ul.results li.success svg {
  fill: green;
}

ul.results li.error svg {
  fill: red;
}

ul.results li div.id {
  margin-top: 4px;
  font-size: x-small;
  color: rgba(255, 255, 255, 0.5);
}

div#labels {
  width: 100%;
}

ul.labels {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul.labels li {
  width: 100%;
  height: 32px;
  position: relative;
  margin-bottom: 2px;
  background: #111;
  font-size: small;
}

ul.labels li:hover div.bar {
  background: green;
}

ul.labels li:hover div.label .info {
  opacity: 1;
}

ul.labels li div.bar {
  position: absolute;
  background: #333;
  height: 100%;
}

ul.labels li div.label {
  position: absolute;
  line-height: 32px;
  vertical-align: middle;
  padding-left: 8px;
}

ul.labels li div.label .info {
  padding-left: 4px;
  opacity: 0.5;
}

.button,
input::file-selector-button {
  padding: 4px 16px;
  color: #fff;
  background: transparent;
  border: 1px solid #fff;
  border-radius: 4px;
  margin-right: 8px;
  text-decoration: none;
}

input::file-selector-button {
  color: #0F0;
  border: 1px solid #0F0;
  font-size: large;
}

.error button {
  color: red;
  border: 1px solid red;
}
